<div fxLayout="row wrap">
  <div fxFlex><img src="./assets/frank-herbert.jpg" alt="Frank Herbert"><br>
    <a href="https://www.listchallenges.com/f/items/3f135598-06a1-4fa5-9a57-1e18a79199cb.jpg">source</a>
  </div>
  <div fxFlex><p>Frank Herbert</p><p>Frank Herbert is the author of Dune, the acclaimed
    Science Fiction novel that depicts a future where space travel is achieved by "folding" space.
    Folding space requires the spice malange, only found on the planet Dune. He who controls the spice,
    controls the universe.
  </p></div>
</div>
