/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center {
  text-align: center;
}

.signin-container {
  margin: auto;
  width: 35%;
  margin-top: 15%;
}

.msg-error {
  color: #d8000c;
  background-color: #ffd2d2;
  padding: 12px;
  margin: 10px 0px;
}
